<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Pumpkin Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>

  <body>
    <div class="grid">

      <div class="box">

        <p>Pumpkin Color Prediction</p>

        <form action="{{ url_for('predict')}}" method="post">
          <input type="text" name="city_name" placeholder="City Name" required="required"  />
          <input type="text" name="package" placeholder="Package" required="required" />
          <input type="text" name="variety" placeholder="Variety" required="required" />
          <input type ="text" name = "low_price" placeholder="Low Price"/>
          <input type  = "text" name = "high_price" placeholder="High Price" />
          <input type  = "text" name = "mostly_low" placeholder="Mostly Low" />
          <input type  = "text" name = "mostly_high" placeholder="Mostly High" />
          <input type  = "text" name = "origin" placeholder="Origin" />
          <input type  = "text" name = "item_size" placeholder="Item Size" />

          <button type="submit" class="btn">Predict the color of the pumpkin</button>
        </form>

        <p>{{ prediction_text }}</p>

      </div>

    </div>

  </body>
</html>